{% extends 'base.html.twig' %}

{% block title %}Nuevo Empleado{% endblock %}

{% block body %}
    <h1>Create new Empleado</h1>

    {{ include('empleado/_form.html.twig') }}

    <a href="{{ path('app_empleado_index') }}">Listado</a>
{% endblock %}
